h1{
    color: rgb(0, 0, 0);
    font-size: 50px;
}
body{
    font-family: font-family: 'Abril Fatface', cursive;
    margin: 0;
    
}

.orange-promo{
    color: orange;

}
p{
    font-size: 25px;
    font-family: font-fam:ily 'Abril Fatface', cursive;
}
.paragraph{
    margin-right: 300px;
}
.flexible-conainer{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding: 2%;
    
   
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: orangered;
    background-image:linear-gradient(orange tomato);
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    font-weight:900;
}
.top-banner{
    background-image: url(images/top-banner.png) ;
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.ex-item{
    box-shadow: 10px 10px 20px rgb(83, 88, 73);
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border-left:10px cornflowerblue ;
    border: 10px solid;

}
.experiance-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
#web-dev-ex{   
    border-left: 7px solid;
    border-image:linear-gradient(blue, cyan);
    border-image-slice: 1;

  
}
#web-dev-expe{
    border-left: 7px solid;
    border-image:linear-gradient(rgb(26, 26, 36), rgb(86, 94, 94));
    border-image-slice: 1;
    
}
footer p{
    text-align: center;
    font-size: 10px;
}